<!DOCTYPE html>
<html>
<head>
    <title>DNA by Reyaz</title>
</head>
<body>
    <h1>Welcome to NGINX Server</h1>
    <p>Deployed using Ansible Role</p>
    <p>Running on port {{ nginx_port }}</p>
</body>
</html>
